@import "../../../../variables.sass"
.product
    background-color: $backList
    padding: 0
    .title-description
        font-size: 28px
        padding: 0 0 32px 32px
    .spinner
        margin: 15px
    .bloque-compra
        padding: 32px 32px 0 0
        .detalle-superior
            font-size: 14px
            padding-bottom: 16px
        .title
            font-size: 24px
            width: 60%
            font-weight: bold
        .amount
            font-size: 46px
            padding: 32px 0
        .button
            color: $backList
            background-color: $buttonBuy
            width: 70%
            padding: 10px
            border-radius: 8px
            margin-bottom: 32px

@media (max-width: 1199px)
    .product
        .bloque-compra
            .title
                width: 80%
            .button
                width: 70%

@media (max-width: 767px)
    .product
        .bloque-compra
            .title
                width: 90%
            .button
                width: 80%
